In [1]:
import pandas as pd
import numpy as np

In [2]:
master = pd.read_csv("Master Countries.csv") 
master

,Country (OECD),Health Expenditure GDP %,Unnamed: 2,Country,Region,Unnamed: 5,Unnamed: 6,Country.1,Covid Deaths
0,Australia,NaN,NaN,Australia,NOT EU,NaN,NaN,Australia,NaN
1,Austria,NaN,NaN,Austria,EUROPEAN UNION,NaN,NaN,Austria,NaN
2,Belgium,NaN,NaN,Belgium,EUROPEAN UNION,NaN,NaN,Belgium,NaN
3,Brazil,NaN,NaN,Brazil,NOT EU,NaN,NaN,Brazil,NaN
4,Canada,NaN,NaN,Canada,NOT EU,NaN,NaN,Canada,NaN
5,Chile,NaN,NaN,Chile,NOT EU,NaN,NaN,Chile,NaN
6,China (People's Republic of),NaN,NaN,China,NOT EU,NaN,NaN,China,NaN
7,Colombia,NaN,NaN,Colombia,NOT EU,NaN,NaN,Colombia,NaN
8,Costa Rica,NaN,NaN,Costa Rica,NOT EU,NaN,NaN,Costa Rica,NaN
9,Czech Republic,NaN,NaN,Czech Republic,EUROPEAN UNION,NaN,NaN,Czechia,NaN
10,Denmark,NaN,NaN,Denmark,EUROPEAN UNION,NaN,NaN,Denmark,NaN
11,Estonia,NaN,NaN,Estonia,EUROPEAN UNION,NaN,NaN,Estonia,NaN
12,Finland,NaN,NaN,Finland,EUROPEAN UNION,NaN,NaN,Finland,NaN
13,France,NaN,NaN,France,EUROPEAN UNION,NaN,NaN,France,NaN
14,Germany,NaN,NaN,Germany,EUROPEAN UNION,NaN,NaN,Germany,NaN
15,Greece,NaN,NaN,Greece,EUROPEAN UNION,NaN,NaN,Greece,NaN
16,Hungary,NaN,NaN,Hungary,EUROPEAN UNION,NaN,NaN,Hungary,NaN
17,Iceland,NaN,NaN,Iceland,NOT EU,NaN,NaN,Iceland,NaN
18,India,NaN,NaN,India,NOT EU,NaN,NaN,India,NaN
19,Indonesia,NaN,NaN,Indonesia,NOT EU,NaN,NaN,Indonesia,NaN
20,Ireland,NaN,NaN,Ireland,EUROPEAN UNION,NaN,NaN,Ireland,NaN
21,Israel,NaN,NaN,Israel,NOT EU,NaN,NaN,Israel,NaN
22,Italy,NaN,NaN,Italy,EUROPEAN UNION,NaN,NaN,Italy,NaN
23,Japan,NaN,NaN,Japan,NOT EU,NaN,NaN,Japan,NaN
24,Korea,NaN,NaN,"Korea, South",NOT EU,NaN,NaN,"Korea, South",NaN
25,Latvia,NaN,NaN,Latvia,EUROPEAN UNION,NaN,NaN,Latvia,NaN
26,Lithuania,NaN,NaN,Lithuania,EUROPEAN UNION,NaN,NaN,Lithuania,NaN
27,Luxembourg,NaN,NaN,Luxembourg,EUROPEAN UNION,NaN,NaN,Luxembourg,NaN
28,Mexico,NaN,NaN,Mexico,NOT EU,NaN,NaN,Mexico,NaN
29,Netherlands,NaN,NaN,Netherlands,EUROPEAN UNION,NaN,NaN,Netherlands,NaN
30,New Zealand,NaN,NaN,New Zealand,NOT EU,NaN,NaN,New Zealand,NaN
31,Norway,NaN,NaN,Norway,NOT EU,NaN,NaN,Norway,NaN
32,Poland,NaN,NaN,Poland,EUROPEAN UNION,NaN,NaN,Poland,NaN
33,Portugal,NaN,NaN,Portugal,EUROPEAN UNION,NaN,NaN,Portugal,NaN
34,Russia,NaN,NaN,Russia,NOT EU,NaN,NaN,Russia,NaN
35,Slovak Republic,NaN,NaN,Slovakia,EUROPEAN UNION,NaN,NaN,Slovakia,NaN
36,Slovenia,NaN,NaN,Slovenia,EUROPEAN UNION,NaN,NaN,Slovenia,NaN
37,South Africa,NaN,NaN,South Africa,NOT EU,NaN,NaN,South Africa,NaN
38,Spain,NaN,NaN,Spain,EUROPEAN UNION,NaN,NaN,Spain,NaN
39,Sweden,NaN,NaN,Sweden,EUROPEAN UNION,NaN,NaN,Sweden,NaN
40,Switzerland,NaN,NaN,Switzerland,NOT EU,NaN,NaN,Switzerland,NaN
41,Turkey,NaN,NaN,Turkey,NOT EU,NaN,NaN,Turkey,NaN
42,United Kingdom,NaN,NaN,United Kingdom,NOT EU,NaN,NaN,United Kingdom,NaN
43,United States,NaN,NaN,United States,NOT EU,NaN,NaN,US,NaN

In [3]:
master= master[["Country (OECD)","Region"]]
master

                  Country (OECD)          Region
0                      Australia          NOT EU
1                        Austria  EUROPEAN UNION
2                        Belgium  EUROPEAN UNION
3                         Brazil          NOT EU
4                         Canada          NOT EU
5                          Chile          NOT EU
6   China (People's Republic of)          NOT EU
7                       Colombia          NOT EU
8                     Costa Rica          NOT EU
9                 Czech Republic  EUROPEAN UNION
10                       Denmark  EUROPEAN UNION
11                       Estonia  EUROPEAN UNION
12                       Finland  EUROPEAN UNION
13                        France  EUROPEAN UNION
14                       Germany  EUROPEAN UNION
15                        Greece  EUROPEAN UNION
16                       Hungary  EUROPEAN UNION
17                       Iceland          NOT EU
18                         India          NOT EU
19                     Indonesia          NOT EU
20                       Ireland  EUROPEAN UNION
21                        Israel          NOT EU
22                         Italy  EUROPEAN UNION
23                         Japan          NOT EU
24                         Korea          NOT EU
25                        Latvia  EUROPEAN UNION
26                     Lithuania  EUROPEAN UNION
27                    Luxembourg  EUROPEAN UNION
28                        Mexico          NOT EU
29                   Netherlands  EUROPEAN UNION
30                   New Zealand          NOT EU
31                        Norway          NOT EU
32                        Poland  EUROPEAN UNION
33                      Portugal  EUROPEAN UNION
34                        Russia          NOT EU
35               Slovak Republic  EUROPEAN UNION
36                      Slovenia  EUROPEAN UNION
37                  South Africa          NOT EU
38                         Spain  EUROPEAN UNION
39                        Sweden  EUROPEAN UNION
40                   Switzerland          NOT EU
41                        Turkey          NOT EU
42                United Kingdom          NOT EU
43                 United States          NOT EU

In [4]:
#transforming the data into a cleaner format by dropping and renaming columns
category = pd.read_csv("country_category.csv")
category= category.drop(['Country Code', 'SpecialNotes'], axis=1)
category.head()

                      Region          IncomeGroup    TableName
0  Latin America & Caribbean          High income        Aruba
1                 South Asia           Low income  Afghanistan
2         Sub-Saharan Africa  Lower middle income       Angola
3      Europe & Central Asia  Upper middle income      Albania
4      Europe & Central Asia          High income      Andorra

In [5]:
category['TableName'] = category['TableName'].replace(['China'],"China (People's Republic of)")
category['TableName'] = category['TableName'].replace(['Korea, Rep.'],"Korea")
category['TableName'] = category['TableName'].replace(['Russian Federation'],"Russia")

In [6]:
#transforming the data into a cleaner format by dropping and renaming columnscategory
category= category.rename(columns={'TableName': 'country', 'IncomeGroup': 'income_group'})
category.head()

                      Region         income_group      country
0  Latin America & Caribbean          High income        Aruba
1                 South Asia           Low income  Afghanistan
2         Sub-Saharan Africa  Lower middle income       Angola
3      Europe & Central Asia  Upper middle income      Albania
4      Europe & Central Asia          High income      Andorra

In [7]:
#joining the tables
final_table = pd.merge(left=master, right=category, how='left', left_on='Country (OECD)', right_on='country')
final_table= final_table.drop(['country'], axis=1)

In [10]:
final_table= final_table.rename(columns={'Region_x': 'EU', 'Region_y': 'Region'})

In [11]:
final_table

,Country (OECD),EU,Region,income_group
0,Australia,NOT EU,East Asia & Pacific,High income
1,Austria,EUROPEAN UNION,Europe & Central Asia,High income
2,Belgium,EUROPEAN UNION,Europe & Central Asia,High income
3,Brazil,NOT EU,Latin America & Caribbean,Upper middle income
4,Canada,NOT EU,North America,High income
5,Chile,NOT EU,Latin America & Caribbean,High income
6,China (People's Republic of),NOT EU,East Asia & Pacific,Upper middle income
7,Colombia,NOT EU,Latin America & Caribbean,Upper middle income
8,Costa Rica,NOT EU,Latin America & Caribbean,Upper middle income
9,Czech Republic,EUROPEAN UNION,Europe & Central Asia,High income
10,Denmark,EUROPEAN UNION,Europe & Central Asia,High income
11,Estonia,EUROPEAN UNION,Europe & Central Asia,High income
12,Finland,EUROPEAN UNION,Europe & Central Asia,High income
13,France,EUROPEAN UNION,Europe & Central Asia,High income
14,Germany,EUROPEAN UNION,Europe & Central Asia,High income
15,Greece,EUROPEAN UNION,Europe & Central Asia,High income
16,Hungary,EUROPEAN UNION,Europe & Central Asia,High income
17,Iceland,NOT EU,Europe & Central Asia,High income
18,India,NOT EU,South Asia,Lower middle income
19,Indonesia,NOT EU,East Asia & Pacific,Upper middle income
20,Ireland,EUROPEAN UNION,Europe & Central Asia,High income
21,Israel,NOT EU,Middle East & North Africa,High income
22,Italy,EUROPEAN UNION,Europe & Central Asia,High income
23,Japan,NOT EU,East Asia & Pacific,High income
24,Korea,NOT EU,East Asia & Pacific,High income
25,Latvia,EUROPEAN UNION,Europe & Central Asia,High income
26,Lithuania,EUROPEAN UNION,Europe & Central Asia,High income
27,Luxembourg,EUROPEAN UNION,Europe & Central Asia,High income
28,Mexico,NOT EU,Latin America & Caribbean,Upper middle income
29,Netherlands,EUROPEAN UNION,Europe & Central Asia,High income
30,New Zealand,NOT EU,East Asia & Pacific,High income
31,Norway,NOT EU,Europe & Central Asia,High income
32,Poland,EUROPEAN UNION,Europe & Central Asia,High income
33,Portugal,EUROPEAN UNION,Europe & Central Asia,High income
34,Russia,NOT EU,Europe & Central Asia,Upper middle income
35,Slovak Republic,EUROPEAN UNION,Europe & Central Asia,High income
36,Slovenia,EUROPEAN UNION,Europe & Central Asia,High income
37,South Africa,NOT EU,Sub-Saharan Africa,Upper middle income
38,Spain,EUROPEAN UNION,Europe & Central Asia,High income
39,Sweden,EUROPEAN UNION,Europe & Central Asia,High income
40,Switzerland,NOT EU,Europe & Central Asia,High income
41,Turkey,NOT EU,Europe & Central Asia,Upper middle income
42,United Kingdom,NOT EU,Europe & Central Asia,High income
43,United States,NOT EU,North America,High income

In [17]:
final_table.to_csv('country_region.csv')

In [19]:
final_table.to_csv('C:\Users\alelawson\Desktop\country_region.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-19-14d3da4fbdc4>, line 1)