In [2]:
import pandas as pd

In [3]:
Covid_deathdf =  pd.read_csv('Resources/covid_deaths.csv')

In [4]:
Covid_deathdf.head()

     Country  Covid Deaths
0  Australia             5
1    Austria            10
2    Belgium            15
3     Brazil            20
4     Canada            25