# webscrapping to get dataset into useful output format

In [39]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [40]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url)

news_soup = BeautifulSoup(browser.html,'html.parser')
table_countries = news_soup.find_all('table', class_ = 'wikitable')
# li_slide = news_soup.find_all('li', class_ = 'slide')[0]

[WDM] - Current google-chrome version is 84.0.4147
[WDM] - Get LATEST driver version for 84.0.4147

[WDM] - Driver [C:\Users\amilk\.wdm\drivers\chromedriver\win32\84.0.4147.30\chromedriver.exe] found in cache

In [43]:
tr_list = table_countries[1].find_all('tr')

In [52]:
country_list = []
regionList = []
populationList = []

for idx, tr in enumerate(tr_list):
    if(idx == 0):
        continue
    td_list =tr.find_all('td')
    
    if(len(td_list) == 0):
        break;      

    country_list.append(td_list[0].find('a').text)
    regionList.append(td_list[1].find('a').text)
    populationList.append(int(td_list[4].text.replace(',','')))


# populationList = {x.replace(',', '') for x in populationList}

In [55]:
populationDF = pd.DataFrame(
    {'country': country_list,
     'region': regionList,
     'population': populationList
    })
populationDF.dropna(inplace = True)
populationDF

              country    region  population
0               China      Asia  1433783686
1               India      Asia  1366417754
2       United States  Americas   329064917
3           Indonesia      Asia   270625568
4            Pakistan      Asia   216565318
..                ...       ...         ...
228        Montserrat  Americas        4989
229  Falkland Islands  Americas        3377
230              Niue   Oceania        1615
231           Tokelau   Oceania        1340
232      Vatican City    Europe         799

[233 rows x 3 columns]

In [56]:
populationDF.to_csv("Population.csv", index=False, header=True)